.FlatIconButton {
    cursor: pointer;
    width: fit-content;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 10px;
    &:hover {
        background-color: $custom-brightgray;
    }
    &:active {
        background-color: $custom-brightgray;
    }
}