$custom-spanishgray: #999999;
$custom-lotion: #fafafa;
$custom-aliceblue : #f1f8fc;
$custom-lightcyan: #dbf7ff;
$custom-maximumbluegreen: #33cccc;
$custom-brightgray: #e9ecef;

// Defining CSS variables using Sass variables
:root {
    --custom-spanishgray: #{$custom-spanishgray};
    --custom-lotion: #{$custom-lotion};
    --custom-aliceblue : #{$custom-aliceblue};
    --custom-lightcyan: #{$custom-lightcyan};
    --custom-maximumbluegreen: #{$custom-maximumbluegreen};
    --custom-brightgray: #{$custom-brightgray};
}

// Exporting Sass variables to JavaScript environment
:export {
    customSpanishGray: $custom-spanishgray;
    customLotion: $custom-lotion;
    customAliceBlue: $custom-aliceblue;
    customLightCyan: $custom-lightcyan;
    customMaximumBlueGreen: $custom-maximumbluegreen;
    customBrightGray: $custom-brightgray;
}
