$custom-spanishgray: #999999;
$custom-lotion: #fafafa;
$custom-aliceblue : #f1f8fc;
$custom-lightcyan: #dbf7ff;
$custom-maximumbluegreen: #33cccc;
$custom-brightgray: #e9ecef;

:root {
    --custom-spanishgray: #{$custom-spanishgray};
    --custom-lotion: #{$custom-lotion};
    --custom-aliceblue : #{$custom-aliceblue};
    --custom-lightcyan: #{$custom-lightcyan};
    --custom-maximumbluegreen: #{$custom-maximumbluegreen};
    --custom-brightgray: #{$custom-brightgray};
}
